# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

Este projeto tem por objetivo desenvolver um algoritmo de Machine Learning para associar produtos de mercado.

Os dados foram extraídos do site do Kaggle:

https://www.kaggle.com/heeraldedhia/groceries-dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Cursos_Udemy/Machine_Learning_com_Python/Groceries_dataset.csv',
                    sep=',', encoding='iso-8859-1')

In [ ]:
df.head()

In [ ]:
df.shape

## **ANÁLISE, TRATAMENTO E PRÉ-PROCESSAMENTO DOS DADOS**

**Valores Missing (NAN)**

In [4]:
# RELAÇÃO DA QUANTIDADE
df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

**Análise dos tipos de atributos.**

In [5]:
# object: strings
# int64: inteiros
# float64: reais
# complex: complexos
df.dtypes

Member_number       int64
Date               object
itemDescription    object
dtype: object

In [6]:
df["Date"]=pd.to_datetime(df["Date"])

In [7]:
df.dtypes

Member_number               int64
Date               datetime64[ns]
itemDescription            object
dtype: object

In [8]:
df["itemDescription"].value_counts().head(30)

whole milk               2502
other vegetables         1898
rolls/buns               1716
soda                     1514
yogurt                   1334
root vegetables          1071
tropical fruit           1032
bottled water             933
sausage                   924
citrus fruit              812
pastry                    785
pip fruit                 744
shopping bags             731
canned beer               717
bottled beer              687
whipped/sour cream        662
newspapers                596
frankfurter               580
brown bread               571
pork                      566
domestic eggs             566
butter                    534
fruit/vegetable juice     518
beef                      516
curd                      514
margarine                 491
coffee                    476
frozen vegetables         425
chicken                   422
white bread               362
Name: itemDescription, dtype: int64

In [9]:
df["Member_number"].value_counts().head(10)

3180    36
3737    33
3050    33
2051    33
2625    31
3915    31
2433    31
2271    31
3872    30
3289    29
Name: Member_number, dtype: int64

In [10]:
df.head()

   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-05-01        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-01-02        whole milk

In [11]:
df2 = df.groupby(['Member_number', 'itemDescription'])['itemDescription'].count().unstack().fillna(0).applymap(
    lambda x: 1 if x > 0 else 0)

In [12]:
df2

itemDescription  Instant food products  UHT-milk  ...  yogurt  zwieback
Member_number                                     ...
1000                                 0         0  ...       1         0
1001                                 0         0  ...       0         0
1002                                 0         0  ...       0         0
1003                                 0         0  ...       0         0
1004                                 0         0  ...       0         0
...                                ...       ...  ...     ...       ...
4996                                 0         0  ...       0         0
4997                                 0         0  ...       0         0
4998                                 0         0  ...       0         0
4999                                 0         0  ...       1         0
5000                                 0         0  ...       0         0

[3898 rows x 167 columns]

In [13]:
df2.iloc[0:12, 0:12]

itemDescription  Instant food products  UHT-milk  ...  beverages  bottled beer
Member_number                                     ...
1000                                 0         0  ...          0             0
1001                                 0         0  ...          0             0
1002                                 0         0  ...          0             0
1003                                 0         0  ...          0             0
1004                                 0         0  ...          0             0
1005                                 0         0  ...          0             0
1006                                 0         0  ...          0             1
1008                                 0         0  ...          0             0
1009                                 0         0  ...          0             0
1010                                 0         1  ...          0             0
1011                                 0         0  ...          0             0
1012                                 0         0  ...          0             0

[12 rows x 12 columns]

In [14]:
df2.shape

(3898, 167)

## **APRIORI**

In [15]:
from mlxtend.frequent_patterns import apriori, association_rules

In [16]:
# Gerando a associação
associacao = apriori(df2, min_support=0.05, use_colnames=True)

In [17]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(10)

      support                        itemsets
55   0.458184                    (whole milk)
37   0.376603              (other vegetables)
41   0.349666                    (rolls/buns)
47   0.313494                          (soda)
56   0.282966                        (yogurt)
51   0.233710                (tropical fruit)
42   0.230631               (root vegetables)
5    0.213699                 (bottled water)
44   0.206003                       (sausage)
116  0.191380  (whole milk, other vegetables)

In [18]:
# Criando as regras de associação
regras = association_rules(associacao, metric="lift")

In [23]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("support", ascending=False)

In [24]:
resultado.head(20)

            antecedents         consequents  ...  leverage  conviction
118        (whole milk)  (other vegetables)  ...  0.018827    1.070564
119  (other vegetables)        (whole milk)  ...  0.018827    1.101643
152        (whole milk)        (rolls/buns)  ...  0.018342    1.065592
153        (rolls/buns)        (whole milk)  ...  0.018342    1.107190
182              (soda)        (whole milk)  ...  0.007465    1.045971
183        (whole milk)              (soda)  ...  0.007465    1.024310
193            (yogurt)        (whole milk)  ...  0.020940    1.158185
192        (whole milk)            (yogurt)  ...  0.020940    1.068076
105        (rolls/buns)  (other vegetables)  ...  0.015056    1.074197
104  (other vegetables)        (rolls/buns)  ...  0.015056    1.065502
113  (other vegetables)              (soda)  ...  0.006103    1.024178
112              (soda)  (other vegetables)  ...  0.006103    1.032237
121            (yogurt)  (other vegetables)  ...  0.013752    1.084553
120  (other vegetables)            (yogurt)  ...  0.013752    1.053660
146              (soda)        (rolls/buns)  ...  0.010187    1.052593
147        (rolls/buns)              (soda)  ...  0.010187    1.044316
187    (tropical fruit)        (whole milk)  ...  0.009388    1.080076
186        (whole milk)    (tropical fruit)  ...  0.009388    1.027473
163   (root vegetables)        (whole milk)  ...  0.007464    1.063522
162        (whole milk)   (root vegetables)  ...  0.007464    1.021630

[20 rows x 9 columns]

## **DESAFIO 6**

Desenvolver os algoritmos Apriori e Eclat utilizando o Exemplo 2 disponível na biblioteca pyECLAT.

In [1]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.21.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.62.3)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)

In [2]:
from pyECLAT import Example2
dados = Example2().get()
dados

                      0                  1  ...                 5            6
0                shrimp            almonds  ...  whole weat flour         yams
1               burgers          meatballs  ...               NaN          NaN
2               chutney                NaN  ...               NaN          NaN
3                turkey            avocado  ...               NaN          NaN
4         mineral water               milk  ...               NaN          NaN
...                 ...                ...  ...               ...          ...
2996          green tea                NaN  ...               NaN          NaN
2997             shrimp               cake  ...               NaN          NaN
2998                ham        ground beef  ...               NaN          NaN
2999            burgers  frozen vegetables  ...              eggs  blueberries
3000  whole wheat pasta               eggs  ...               NaN          NaN

[3001 rows x 7 columns]